<div class="contenedor">
  <div class="d-flex">
    <!--Barra lateral -->
    <div class="col-3 bg-white sidebar text-center">
      <h1 class="mt-3 mb-5">Proyecto <span class="font-weight-lighter">ONP</span></h1>
      <form class="">
        <div class="form-group">
          <button type="button" class="btn btn-dark btn-block mb-3">Nuevo Proyecto</button>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
      </form>
      <h3 class="mt-5 mb-5" style="font-weight: 800;">Tus Proyectos</h3>
      <ul class="tareas list-group list-group-flush text-left font-weight-bold text-capitalize">
        <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio<h4>×</h4></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in<h4>×</h4></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Morbi leo risus<h4>×</h4></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Porta ac consectetur ac<h4>×</h4></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Vestibulum at eros<h4>×</h4></li>
      </ul>
    </div>
    <!-- Cuerpo -->
    <div class="col-9 body m-0 p-0">
      <nav class="navbar navbar-dark border-0" style="background-color: #293040;">
        <a class="navbar-brand" href="#">Hola Usuario</a>
      </nav>
      <div class="col-12 d-flex justify-content-center" style="background-color: #171d29;">
        <div class="col-7 mt-4 mb-4">
          <form class="">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1">
              <button type="button" class="btn btn-dark btn-block mt-3">Agregar Tarea</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12">
        <div class="m-5">
          <div class="text-center">
            <h4 class="" style="font-weight: 800;">Proyecto: Cras justo odio</h4>
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-9">
              <div class="mt-4">
                <div class="card mt-2 shadow-sm">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    This is some text within a card body.
                    <div class="d-flex align-items-center">
                      <span class="badge badge-success mr-2 text-uppercase">Completado</span>
                      <button type="button" class="btn btn-dark">Eliminar</button>
                    </div>
                  </div>
                </div>
                <div class="card mt-2 shadow-sm">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    This is some text within a card body.
                    <div class="d-flex align-items-center">
                      <span class="badge badge-danger mr-2 text-uppercase">Imcompleto</span>
                      <button type="button" class="btn btn-dark">Eliminar</button>
                    </div>
                  </div>
                </div>
                <div class="card mt-2 shadow-sm">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    This is some text within a card body.
                    <div class="d-flex align-items-center">
                      <span class="badge badge-danger mr-2 text-uppercase">Imcompleto</span>
                      <button type="button" class="btn btn-dark">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>